<nav class="navbar  navbar-light bg-primary">
</nav>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add User
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> Prénom</span>
            <input type="text" class="form-control" [(ngModel)]="u.prenom" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> Nom</span>
            <input type="text" class="form-control" [(ngModel)]="u.nom" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> Nombre D'enfants </span>
            <input type="text" class="form-control" [(ngModel)]="u.nombre_enfants" >
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
